{% extends '::base.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        {% if page.path != '' %}
            <li><a href="{{ path('page') }}">homepage</a></li>
        {% endif %}
        {% for breadCrumbPath,name in breadCrumbs %}
            <li><a href="{{ path('page', {path: breadCrumbPath}) }}">{{ name }}</a></li>
        {% endfor %}
    </ol>

    <h2>{{ page.title }}</h2>

    <div>
        {{ page.content|raw }}
    </div>

{% endblock %}